*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cover{
    height:93vw;
    width:97vw;
    background-color: rgb(59, 69, 255);
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
}